# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gitignore
.idea/
love-baby-common/love-baby-common.iml
love-baby-user/love-baby-user.iml
love-baby-web/love-baby-web.iml
love-baby.iml
logs/
love-baby-common/target/
love-baby-mis/love-baby-mis.iml
love-baby-tool/love-baby-tool.iml
love-baby-web/logs/
love-baby-web/target/
love-baby-mis/src/test/
love-baby-user/src/test/
love-baby-web/src/test/
